{
  "plugins": [
    "lodash",
    ["@babel/plugin-transform-runtime", {
      "regenerator": true
    }]
  ],
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "@babel/react"
  ]
}
